<!-- vue pour UNE tache, differente de index -->
<!-- qui est la vue pour TOUTES les taches -->

<h1>Tâche : <%= @task.name %></h1>
<p>Fait : <%= @task.done %></p>
<%= link_to "Retour", tasks_path %>
